<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="styles.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Petr's Pantry Meals</title>
</head>

<body>
    <h2>Petr's Pantry Meals</h2>
    <p>Please input the ingredients you have into the box separated by commas and spaces.</p>
    <p><i>Example: apples, flour, sugar</i></p>
    <form action="/found_recipes" id="form1" method=post>
        <label for="ingredients">Ingredients:</label>
        <input type="text" id="ingredients" name="ingredients"><br><br>

        <label for="meal_type">What type of meal?</label><br>
        <input type="radio" id="breakfast" name="meal_type" value="breakfast">
        <label for="breakfast"> Breakfast</label><br>
        <input type="radio" id="main_course" name="meal_type" value="main_course">
        <label for="main_course"> Lunch/Dinner</label><br>
        <input type="radio" id="snack" name="meal_type" value="snack">
        <label for="snack"> Snack</label><br>
        <input type="radio" id="dessert" name="meal_type" value="dessert">
        <label for="dessert"> Dessert</label><br>
        <input type="radio" id="beverage" name="meal_type" value="beverage">
        <label for="beverage"> Beverage</label><br>
        <input type="radio" id="None" name="meal_type" value="None">
        <label for="None"> None</label><br>

        <br>

        <label for="diet">Any specific diets?</label><br>
        <input type="radio" id="gluten_free" name="diet" value="glutenFree">
        <label for="gluten_free"> Gluten Free</label><br>
        <input type="radio" id="vegetarian" name="diet" value="vegetarian">
        <label for="vegetarian"> Vegetarian</label><br>
        <input type="radio" id="vegan" name="diet" value="vegan">
        <label for="vegan"> Vegan</label><br>
        <input type="radio" id="dairyFree" name="diet" value="dairyFree">
        <label for="dairyFree"> Dairy Free</label><br>
        <input type="radio" id="none" name="diet" value="None">
        <label for="none"> None</label><br><br>

        <input type="submit" value="Submit">


    </form>
</body>

</html>