<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team 9</title>
</head>
<body>
    <h2>{{recipe.title}}</h2>
    <img src={{recipe.image}}>
    <p>Ingredient List:</p>
    {% for ingredient in recipe.usedIngredients%}
    <p>{{ingredient.original}}</p>
    {% endfor %}
    {% for ingredient in recipe.missedIngredients %}
    <p>{{ingredient.original}}</p>
    {% endfor %}
</body>
</html>